@charset "UTF-8";
.homeParallax { 
	background:url(../img/home.jpg) 50% 0 fixed; 
	height: 150px;  
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	padding: 90px 0;
}

.homeParallaxCasino{ 
	background:url(../img/home-2.jpg) 50% 0 fixed; 
	height: 150px;  
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	padding: 90px 0;
}

.homeParallaxhelp{ 
	background:url(../img/home.jpg) 50% 0 fixed; 
	height: 150px;  
	margin: -1.9em auto; 
	width: 100%; 
	position: relative; 
	padding: 90px 0;
}

/* Non-essential demo stuff */
.hero-unit {
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.media-object { width: 64px; height: 64px; padding-bottom: 30px }

.parralaxMargin{
	margin-top:2em;
}

.parallaxSlogan{
	color:#f00;
	font-family:'PT Sans Narrow', Arial, Helvetica;
	margin-top:-5em;
}

.breadcrumbStyle{
	background:none !important;
	color:#FFF !important;
}
.breadcrumbStyle a{
	background:none !important;
	color:#a9a9a9 !important;
}
.breadcrumbStyle a:hover{
	text-decoration:none;
	background:none !important;
	color:#f00 !important;
}
.breadcrumbStyleColor{
	color:#FFF !important;
}

.gameBoxesPoker{
	margin-top:10em;
}

.gameBoxesPokerButton{
	padding-top:0.3em;
	margin-top:1em;
	margin-left:5em;
	width:163px;
	height:33px;
	border:none;
	background-color:#edba07;
	font-weight:bolder;
	font-size:17px;
	font-style:italic;
}

.lobiBG{
	border-top:5px solid #edba07;
	margin-top:50px;
	background-image:url(../img/lobi-tile-02.jpg);
	background-repeat:repeat-x;
	height:100px;
	background-color:#c2c4cd;
}

.BreakNewsPoker{
	border:none !important;
}

.yeniLobiBG{
	margin-top:3em;
	background-color:#ebede4;
}

.lobiYeni{
	height:50px;
}
.lobiTypoH1{
	margin-top:1em;
	font-family:'Oswald', Arial, Helvetica;
	font-size:22px;
	color:#333;
	padding-right:2em;
	border-right:1px solid #FFF;
}		

.lobiTypoPar{
	margin-top:1.4em;
	font-family:'Oswald', Arial, Helvetica;
	font-size:16px;
	color:#333;
	padding-right:2em;
	border-right:1px solid #FFF;
}

.lobbyButton{
	font-family:'Oswald', Helvetica, Arial;
	font-size:18px;
	width:140px !important;
	height:40px !important;
	color:#edba07 !important;
	margin-top:-2em;
	background-color:#000 !important;
	border:none !important;
}

.lobbyPopupHover{
	background-color:#edba07 !important;
	color:#000 !important;
}
.lobbycontentHover{
	background-color:#ebede4 !important;
	color:#000 !important;
}
.lobbycontentHoverButton{
	background-color:#edba07 !important;
	color:#000 !important;
}

.gameBoxButtonNew{
	font-family:'Oswald', Helvetica, Arial;
	font-size:18px;
	width:140px !important;
	height:40px !important;
	margin-top:1.1em !important;
	margin-left:5.5em !important;
}

@media (min-width:992px){
	
.lobbyButtonMd{
	font-family:'Oswald', Helvetica, Arial;
	font-size:18px;
	width:120px !important;
	height:40px !important;
	color:#edba07 !important;
	background-color:#000 !important;
	border:none !important;
}	
}

@media (min-width:768px) and (max-width:991px){
.lobiTypoH1Sm{
	margin-top:1em;
	font-family:'Oswald', Arial, Helvetica;
	font-size:16px;
	color:#333;
	padding-right:1em;
	border-right:1px solid #FFF;
}		

.lobiTypoParSm{
	margin-top:1em;
	font-family:'Oswald', Arial, Helvetica;
	font-size:14px;
	color:#333;
	padding-right:1em;
	border-right:1px solid #FFF;
}
.lobbyButtonSm{
	float:right;
	margin-right:1em;
	margin-top:-3.4em;
	font-family:'Oswald', Helvetica, Arial;
	font-size:14px;
	width:100px !important;
	height:40px !important;
	color:#edba07 !important;
	background-color:#000 !important;
	border:none !important;
}	

}

@media (max-width:766px){

.ParGameText{
	margin-top:-9em;
	margin-left:1em !important;
	position:absolute !important;

}

.H1GameBoxXs{
	margin-top:-10.5em;
	margin-left:5em !important;
	position:absolute !important;
}

.ButtonGameBoxXs{
	margin-top:17em !important;
	margin-left:-14em !important;
	position:absolute !important;
}

.lobiTypoH1Xs{
	margin-top:3em !important;
	font-family:'Oswald', Arial, Helvetica;
	font-size:16px;
	color:#333;
	padding-right:1em;
	border-right:1px solid #FFF;
}		

.lobiTypoParXs{
	margin-top:0.2em;
	font-family:'Oswald', Arial, Helvetica;
	font-size:14px;
	color:#333;
	padding-right:1em;
	border-right:1px solid #FFF;
}
.lobbyButtonXs{
	float:right;
	margin-right:1em;
	margin-top:-1em !important;
	font-family:'Oswald', Helvetica, Arial;
	font-size:14px;
	width:100px !important;
	height:40px !important;
	color:#edba07 !important;
	background-color:#000 !important;
	border:none !important;
}	

.lobiTypoParXs2{
	margin-top:-1em;
	font-family:'Oswald', Arial, Helvetica;
	font-size:14px;
	color:#333;
	padding-right:1em;
	border-right:1px solid #FFF;
}
.lobbyButtonSm{
	float:right;
	margin-right:1em;
	margin-top:-3.4em;
	font-family:'Oswald', Helvetica, Arial;
	font-size:14px;
	width:100px !important;
	height:40px !important;
	color:#edba07 !important;
	background-color:#000 !important;
	border:none !important;
}
.lobbyButtonXs{
	float:right;
	margin-right:1em;
	margin-top:-3.4em !important;
	font-family:'Oswald', Helvetica, Arial;
	font-size:14px;
	width:100px !important;
	height:40px !important;
	color:#edba07 !important;
	background-color:#000 !important;
	border:none !important;
}	
}
