body{
	background:#000;
}
.username{
	font-family:'PT Sans Narrow', Arial, Helvetica;
	font-size:14px;
}
.money{
	font-family:'PT Sans Narrow', Arial, Helvetica;
	font-size:16px;
	color:#000 !important;
}
.loginTypo{
	margin-top:0.8em;
}
.loginStyle{
	color:#fff;
	font-size:16px;
	font-family:'Oswald', Arial, Helvetica;
	height:3.125em;
	margin-top:-1.3em;
	background:#000 !important;
}
.inputButtons{
	font-family:'PT Sans Narrow', Arial, Helvetica;
	font-size:16px;
	color:#fff;
	background:#1e9df9 !important;
	border:none;
	border-radius:0px;
}

.lobiH4{
	margin-top:1em;
	font-family:'PT Sans Narrow',  Arial, Helvetica;
	font-size:26px;
	color:#fff;
}

.contentArea{
	margin-top:3em;
	background:#fff !important;
}
.contentSlogan{
	margin-top:0.5em;
	font-family:'Oswald', Arial, Helvetica;
	font-size:32px;
	color:#000;
}

.contentSloganArrows{
	margin-top:0.5em;
	margin-left:3px !important;
}
.contentSloganPar{
	color:#f00;
	font-size:14px;
	margin-top:-1.3em;
}

.contentThumbStyle{
	margin-top:1em;
}

.contentThumb{
	border:none;
}

.contentHead{
	margin-top:0.2em;
	font-family:'Oswald', Arial, Helvetica;
	font-size:26px;
	color:#333333;
}

.contentPar{
	margin-top:-0.3em;
	font-family:'Oswald', Arial, Helvetica;
	font-size:15px;
	color:#5d5d5d;
}

.contentThumb2{
	margin-top:-0.6em !important;
}


.yeniLobiBG{
	margin-top:2em;
	background-color:#ebede4;
}
.lobiTypoH1{
	margin-top:0.9em;
	font-family:'PT Sans Narrow', Arial, Helvetica;
	font-size:22px;
	color:#333;
	padding-right:2em;
	border-right:1px solid #FFF;
}
.lobiTypoPar{
	margin-left:1em;
	margin-top:0.5em;
	font-family:'PT Sans Narrow', Arial, Helvetica;
	font-size:18px;
	color:#333;
	padding-right:2em;
}
.lobiTypoPar1{
	margin-left:2em;
	margin-top:0.5em;
	font-family:'PT Sans Narrow', Arial, Helvetica;
	font-size:18px;
	color:#333;
	padding-right:2em;
	text-align:right !important;
}

.lobiButton{
	border:none !important;
	border-radius:0;
	margin-top:0.8em;
	font-family:'PT Sans Narrow', Arial, Helvetica;
	color:#000;
	font-size:18px;
	text-align:center;
	background:#fff;
	border:1px solid #000 !important;
	padding-bottom:1.7em;
}

.lobiButton a{
	text-decoration:none !important;
}

.footerBG{
	margin-top:3em !important;
	background-color:#101010 !important;
}
.tableCekimLeft{
	font-size:17px !important;
	font-family:'PT Sans Narrow' Arial, Helvetica;
	text-align:left;
	border-top:none !important;
}
.tableCekimHead{
	font-weight:bold;
	font-size:18px !important;
	font-family:'PT Sans Narrow' Arial, Helvetica;
	border-top:none !important;
}
.tableCekimCenter2{
	font-size:15px !important;
	font-family:'PT Sans Narrow' Arial, Helvetica;
	text-align:center;
	border-top:none !important;
}
.tableCekimRight{
	color:#f00;
	font-size:17px !important;
	font-family:'PT Sans Narrow' Arial, Helvetica;
	text-align:right;
	border-top:none !important;
}
.tableCekimh2{
	margin-top:0.5em;
	border-bottom:1px solid #fff;
	padding-bottom:0.4em;
}

.footerBG2{
	font-size:16px;
	font-family:'PT Sans Narrow' Arial, Helvetica;
	color:#fff;
	padding-top:1.5em;
	padding-bottom:1.5em;
	background:#000;
}
.footerSlogan{
	margin-top:0.5em;
	color:#FFF;
	font-family:'PT Sans Narrow', "Helvetica Neune", Helvetica, Arial;
	font-size:14px;
}

.footerBottom{
	padding-top:1em;
	background-color:#000;	
}
.footerParagraph{
	color:#FFF !important;
	font-size:14px !important;
	font-family:'PT Sans Narrow', Helvetica, Arial, Sans Serif;
}
.logoNew{
    margin-top:0.3em !important;
}
.logoNew a:hover{  
    background:none !important;
}

.footerParagraph a{
	color:#FFF !important;
	text-decoration:none;
}

.footerParagraph a:hover{
	color:#edba07 !important;
	  -o-transition:color 1s ease-out, background 3s ease-in;
	  -ms-transition:color .1s ease-out, background 3s ease-in;
	  -moz-transition:color .1s ease-out, background 3s ease-in;
	  -webkit-transition:color .1s ease-out, background 3s ease-in;
	  /* ...and now for the proper property */
	  transition:color .1s ease-out, background 3s ease-in;
}
.slotBox{
	padding:0.5em !important;
	height:15em !important;
}
.slotsTypo{
	font-family: 'PT Sans Narrow', Arial, Helvetica;
	font-size:18px;
	text-align:center;
	color:#fff;
	padding:0.3em !important;
}
.gamingButtonNew{
	border:1px solid #f00 !important;
	width:100%;
	font-family:'PT Sans Narrow' Arial, Helvetica;
	font-size:18px;
	color:#fff !important;
	background:#000;
	border-radius:0;
	padding:0.4em 0.4em 0.4em 0.4em !important;
}
.gamingButtonNew:hover{
	background:#f00;
	color:#000 !important;
}

.slotsTypo a{
	color:#f00;
	text-decoration:none;
}

.slotsTypo:hover{
	color:#f00;
	text-decoration:none !important;
}

.footerBottomFont{
	padding-top:1.3em;
	font-family:'PT Sans Narrow', 'Helvetica Neune', Helvetica, Arial;
	font-size:13px;
	color:#FFF;
}

.footerH2{
	font-family:'PT Sans Narrow', 'Helvetica Neune', Helvetica, Arial;
	font-size:22px;
	color:#f00;
}

.lobiButton:hover{
	text-decoration:none !important;
	cursor:pointer;
	border: 1px solid #fff !important;
	color:#f00 !important;
	background:#000;
	text-decoration:none !important;
	  -o-transition:color .1s ease-out, background 0.3s ease-in;
	  -ms-transition:color .1s ease-out, background 0.3s ease-in;
	  -moz-transition:color .1s ease-out, background 0.3s ease-in;
	  -webkit-transition:color .1s ease-out, background 0.3s ease-in;
	  /* ...and now for the proper property */
	  transition:color .1s ease-out, background 0.3s ease-in;
}

.baglanButton{
	width:170px;
	border:none !important;
	border-radius:0;
	margin-top:0.8em;
	font-family:'PT Sans Narrow' Arial, Helvetica;
	color:#000;
	font-size:22px;
	text-align:center;
	background:#fff;
	padding-bottom:1.7em;
}

.baglanButton:hover{
	cursor:pointer;
	color:#f00 !important;
	background:#000;
	text-decoration:none !important;
	  -o-transition:color .1s ease-out, background 0.3s ease-in;
	  -ms-transition:color .1s ease-out, background 0.3s ease-in;
	  -moz-transition:color .1s ease-out, background 0.3s ease-in;
	  -webkit-transition:color .1s ease-out, background 0.3s ease-in;
	  /* ...and now for the proper property */
	  transition:color .1s ease-out, background 0.3s ease-in;
}

.lobiBG{
	padding:0 1em 1em 0.5em;
	border:1px solid #e41f24;
	font-family:'Oswald',  Arial, Helvetica;
	background:#fff;
	color:#000;
	font-weight:lighter;
	margin-top:0.5em;
	background-repeat:no-repeat;
	font-size:20px;
}
.indexGames{
	margin-top:0em;
}
.ucgen{
	margin-top:-1.4em;
	border-color: transparent transparent black transparent;
	border-style: solid;
	border-width: 0px 20px 20px 20px;
	height: 0px;
	width: 0px;
}

.lobiNew{
	margin-top:0em;
	background:#F00;
	height:7em;
	background:url(../img/tile1.jpg) repeat-x;
}
.slogan{
	margin-top:1em;
	font-family:'PT Sans Narrow',  Arial, Helvetica;
	text-align:center;
	font-size:30px;
	color:#000;
}

.BreakingNewsController{width:100%; overflow:hidden; background:#FFF; height:auto; position:relative;}
.BreakingNewsController .bn-title{display:inline-block; float:left; padding:10px 20px; background:#5aa628; color:#FFF;}
.BreakingNewsController ul{padding:0; margin:0; display:block; list-style:none; position:absolute; left:180px; right:50px;}
.BreakingNewsController ul li{list-style:none; padding:10px 20px; display:none;}
.BreakingNewsController ul li a{text-decoration:none; color:#333; display:inline-block; overflow:hidden; padding:0;}
.BreakingNewsController .bn-arrows{display:inline-block; float:right; width:50px; position:absolute; right:0; top:0; bottom:0;}
.BreakingNewsController .bn-arrows span{display:block; width:20px; position:absolute; top:0; bottom:0; cursor:pointer; opacity:0.2;}
.BreakingNewsController .bn-arrows span:hover{opacity:1;}
.BreakingNewsController .bn-arrows-left{ left:0; background:url(../img/bn-arrows.png) left center no-repeat;}
.BreakingNewsController .bn-arrows-right{right:10px; background:url(../img/bn-arrows.png) right center no-repeat;}

.easing a, .easing span{transition:.25s linear; -moz-transition:.25s linear; -webkit-transition:.25s linear;}


.ustMenu{
	padding:0px !important;
	margin:0px !important;
	height:3.7em !important;
	font-family:'Oswald', Arial, Helvetica;
	font-size:13px;
	background:#000;
	border:none !important;
	border-radius:0;
}
.ustMenu a{
	background:#ffc709 !important;
	color:#fff !important;
	font-weight:lighter;
}
.loginHeader{
	padding-bottom:1.7em !important;
	border:none !important;
	font-family:'PT Sans Narrow', Arial, Helvetica;
	font-size:16px;
	border-radius:0px !important;
	background:#000 !important;
	color:#f00;
	border:3px solid #000 !important;
}
.loginHeader:hover{
	background:#000 !important;
	color:#fff !important;
	border:3px solid #000 !important;
	  -o-transition:color .1s ease-out, background 0.3s ease-in;
	  -ms-transition:color .1s ease-out, background 0.3s ease-in;
	  -moz-transition:color .1s ease-out, background 0.3s ease-in;
	  -webkit-transition:color .1s ease-out, background 0.3s ease-in;
	  /* ...and now for the proper property */
	  transition:color .1s ease-out, background 0.3s ease-in;
}

.accSidebar{
	border-radius:0;
	color:#000 !important;
}
.accSidebar a{
	border-radius:0;
	color:#000 !important;
}
.accSidebar a:hover{
	border-radius:0;
	background:#000 !important;
	color:#F00 !important;
	  -o-transition:color .1s ease-out, background 0.3s ease-in;
	  -ms-transition:color .1s ease-out, background 0.3s ease-in;
	  -moz-transition:color .1s ease-out, background 0.3s ease-in;
	  -webkit-transition:color .1s ease-out, background 0.3s ease-in;
	  /* ...and now for the proper property */
	  transition:color .1s ease-out, background 0.3s ease-in;
}
.accSidebar:hover{
	border-radius:0;
	background:#000 !important;
	color:#F00 !important;
		  -o-transition:color .1s ease-out, background 0.3s ease-in;
	  -ms-transition:color .1s ease-out, background 0.3s ease-in;
	  -moz-transition:color .1s ease-out, background 0.3s ease-in;
	  -webkit-transition:color .1s ease-out, background 0.3s ease-in;
	  /* ...and now for the proper property */
	  transition:color .1s ease-out, background 0.3s ease-in;

}

.ustMenu:hover{
	background:#none !important;
}

.pokerLobi{
	padding:0 0 2em 0em;
	margin-top:2em;
	background:#fff;
	color:fff;
}

.pokerLobiH1{
	margin-top:0.5em;
	text-align:center;
	font-family:'Oswald', Arial, Helvetica;
	font-size:30px;
	font-weight:lighter;
	color:#fff;
}

.pokerLobiH3{
	margin-top:1em;
	text-align:left;
	font-family:'Oswald', Arial, Helvetica;
	font-size:18px;
	font-weight:lighter;
	text-align:center;
	color:#fff;
}

.pokerLobiMoney{
	margin-top:0em;
	text-align:center;
	font-family:'Oswald', Arial, Helvetica;
	font-size:18px;
	font-weight:lighter;
	color:#fff;
}

.userLogin{
	background:#fff !important;
	font-family:'Oswald', Arial, Helvetica;
	font-size:16px;
	color:#000;
	border-radius:0;
	font-weight:lighter;
	padding:0.5em 0em 1.7em 0em !important;
	border:2px solid #000;
}

.userLogin a:hover{
	color:#f00 !important;
}

.bonuslar{
	margin-top:2em;
	border-bottom: 1px solid #fff;
	padding-bottom:1em;
}
.bonuslarContent{
	font-family:'PT Sans Narrow', Arial, Helvetica;
	font-size:18px;
	color:#fff;
}
.activeLink{
	background:#000 !important;
	color:#f00 !important;
}

.howTo{
	margin-top:3em;
	border-radius:0px !important; 
	margin-bottom:3em;
	color:#000 !important;
}
.howTo2{
	color:#000 !important;
	border-radius:0px !important;
	font-family:'PT Sans Narrow', Arial, Helvetica;
}
.padd1{
	padding:0 2em 0 2em;
}
.howToH4{
	 margin-top:-0.2em;
	 font-size:24px;
	 padding-bottom:0.2em;
	 border-bottom:1px solid #000;
	 font-weight:bolder;
}
.help1{
	background:#ebede4;
	padding:1em;
	border-radius:0em;
	font-size:16px;
	color:#000 !important;
}
.helpPar{
	font-size:22px;
	font-weight:bold;
	padding-bottom:0.2em;
	border-bottom:1px solid #000;
}
.helpPar1{
	 color:#000 !important;
}
.helpPar1 a{
	 color:#000 !important;
}
.helpPar1 a:hover{
	border-radius:0;
	background:#000 !important;
	 color:#f00 !important;
}
.userLogin:hover{
	background:#000 !important;
	color:#e82025;
	  -o-transition:color .1s ease-out, background 0.3s ease-in;
	  -ms-transition:color .1s ease-out, background 0.3s ease-in;
	  -moz-transition:color .1s ease-out, background 0.3s ease-in;
	  -webkit-transition:color .1s ease-out, background 0.3s ease-in;
	  /* ...and now for the proper property */
	  transition:color .1s ease-out, background 0.3s ease-in;
}
.loginLeftContent{
	font-family:'PT Sans Narrow', Arial, Helvetica;
	color:#fff;
	font-size:18px;
}

.language{
	font-family:'PT Sans Narrow', Arial, Helvetica;
}

.sliderHeight{
	width:70%;
}
.logoNoHover:a{
	font-family:'PT Sans Narrow', Arial, Helvetica;
}

.logoNoHover:a{
	font-family:'PT Sans Narrow', Arial, Helvetica;
}

.logoNoHover a:hover{
	background:none !important;
}

.loginInputs{
	border-radius:0 !important;
	border:none !important;
}

.loginButtons{
	background:#ffc709;
	color:#000 ;
	border-radius:0 !important;
	border:none !important;
	font-family:'Oswald', Arial, Helvetica;
	font-weight:lighter;
	padding:0.5em 1em 2em 1em;
}
.loginButtons a{
	color:#000;
}

.loginButtons a:hover{
	text-decoration:none;
	background:#000;
	color:#ffc709 !important;
}

.loginButtons:hover{
	background:#000;
	color:#ffc709 !important;
}

.menuBackground{
	background:#fff !important;
	color:#000 !important;
}

.gamingTypoLeft{
	font-family:'PT Sans Narrow', Arial, Helvetica !important;
	font-size:18px;
	color:#fff;
}
.gamingTypoRight{
	font-family:'PT Sans Narrow', Arial, Helvetica !important;
	font-size:18px;
	color:#f00;
	font-weight:bolder;
}
.sidebar{
	background:#1d1d1d !important;
	font-family:'PT Sans Narrow', Arial, Helvetica;
	color:#fff !important;
	margin-top:2em;
	border-radius:0;
}
.sidebar2{
	background:#1d1d1d !important;
	font-family:'PT Sans Narrow', Arial, Helvetica;
	color:#fff !important;
	margin-top:1em;
	border-radius:0;
	text-align:center;
	font-size:19px;
}
.digit{
	margin-left:0.9em;
	margin-bottom:2em;
	float:left;
	background:#fff;
	width:1.2em;
	height:1.2em;
	font-family:'PT Sans Narrow', Arial, Helvetica;
	font-size:20px;
	color:#000;
	text-align:center;
	border-radius:3px;
}
.digit2{
	margin-bottom:2em;
	margin-left:0.2em;
	float:left;
	background:#fff;
	width:1.2em;
	height:1.2em;
	font-family:'PT Sans Narrow', Arial, Helvetica;
	font-size:20px;
	color:#000;
	text-align:center;
	border-radius:3px;
}

.oyunlar{
	background:#000 !important;
	border:1px solid #F00 !important;
	font-family:'PT Sans Narrow', Arial, Helvetica;
	color:#fff !important;
	margin-top:2em;
	border-radius:0;
}
.oyunlarButton{
	margin-top:0.5em !important;
	padding-bottom:2em !important;
	height:40px !important;
	border:none;
	width:100%;
	text-align:center;
	padding-top:0.3em !important;
	font-family:'Oswald', Arial, Helvetica;
	font-weight:lighter;
	font-size:20px;
	color:#000 !important;
	background:#fff !important;
	border-radius:0;
}

.oyunlarButton:hover{
	border:none !important;
	background:#000 !important;
	color:#e41f24 !important;
	border:1px solid #f00 !important;
}


.last24 {
    width: 200px;
    z-index: 99;
    position: absolute;
    background-color: #ffffff;
    height: 39px;
    font-family: "Helvetica Neue Light", sans-serif;;
    color: #ffffff;
}

.BreakingNewsController {
    height: 39px;
    background-image: url("../images/24bg.png");
    background-repeat: no-repeat;
}

.BreakingNewsController ul {
    left: 5px;
    width: 100%;
    font-size: 14px;
    font-family: "Helvetica Neue Light", sans-serif;;
}

.BreakingNewsController ul > li {
    padding: 10px 5px;
}



.header-bottom .left-24, .header-bottom .right-24 {
    padding: 10px 0;
    font-family: "Helvetica Neue Light", sans-serif;;
    color: #272a65;
}


.BreakingNewsController img {
    vertical-align: text-bottom;
}


.header-bottom .right-24 {
    background-image: url("../images/news-bg.png");
    background-repeat: repeat-x;
    overflow: hidden;
    white-space:nowrap;
    height: 39px;
}



.header-bottom .user {
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-style: italic;
}

.header-bottom .money {
    font-style: italic;
    font-weight: bold;
    margin-right: 5px;
    color: #f9e519;
}


.bg-cyan {
	background:#020e2a !important;
}

.header{
	height:118px;
	margin-top:10px;
}

label{
	font-family:Arial, Helvetica, Sans Serif;
	font-size:12px;
	margin-top:9px;
	font-weight:normal
}

.form{
	width:120px;
	height:30px;
	border-radius: 0;
}

button{
	font-family:Arial, Helvetica, Sans Serif;
	padding:2px;
	margin-left:5px;
	height:30px;
}

a{
	color:#000;
}

.renk{
	color:#fb5756 !important
}

.dil{
	border-radius: 0
}

.ust-menu li{
		float:left;
		margin-left:1em;
		list-style-type:none;
}
	
.ust-menu li a{
		text-decoration:none;
		color:#000;
}

.ust-menu li a:hover{
		text-decoration:none;
		color:#fb5756;
}

.spanUser{
		margin-right:0.5em;
}
.no-padding{
		padding-left:0px !important;
		padding-right:0px !important;
}

.kirmizi{
		color:#fb5756;
}

.logo{
		font-weight:bold;
		font-size:2.5em;
}
.pStyle{
		margin-top:1em;
		margin-left:2em;
}

.pStyle2{
		margin-top:-0.5em;
		margin-left:2em;
}

.inputSyle{
		margin-top:1em;
		width:200px;
		height:36px;
		border-radius:0;
		float:right;
		position:relative;
		right:-3.5em;
		z-index:5;
}
::-webkit-input-placeholder {
	font-size:11px;
	font-style:italic;
}

:-moz-placeholder {
	font-style:italic;
	font-size:11px;
}
:-ms-input-placeholder {
	font-style:italic;
	font-size:11px;
}

nav ul.navbar-nav li{
	border-left:1px solid #ccc;
	min-width:100px;
	text-align:center;
	font-weight:bold;
	
}

.navbar-default{
	background-color:fff !important;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	box-shadow:1px 1px 1px #ccc;
}

.ara{
	border:0px !important;
	height:2.4em;
	padding-left:1em;
}

.mercek{
	height:3.55em;
	background:#ededed;
	border-right:1px solid #ccc;
	cursor:pointer;
	min-width:3em !important;
}

.mercek span{
	margin-top:1.25em;
}

.bgr{
	background:#FFF;
}

.formGroup{
	margin-top:0px !important;
	margin-bottom:0px !important;
}

col-xs-12.micro{
	margin:0px;
}

.menuFont{
	font-family:'PT Sans Narrow', Arial, Helvetica, sans-serif;
	font-size:16px;
}

.menuFont a{
		color:#000 !important;
}

.menuFont a:hover{
		color:#F00 !important;
}

/** Anasayfa Oyunlar **/

.margin-top-4{
	margin-top:4em;
}
.cizgi{
	border-bottom:1px solid #ededed;
}
.border{
	border:1px solid #ccc;
	padding:4px;
	text-align:center;
	border-radius:4px;
}

h2{
	font:normal bold 20px Verdana;
}
.alt-yazi{
	margin-top:5em;
}
.alt-cizgi{
	margin-top:5em
}
.border button{
	margin-bottom:2em;
}

.buttonOyunlar{
	width:200px;
	height:40px;
	font-family:'PT Sans Narrow', Arial, Helvetica, sans-serif;
	font-size:19px !important;
	color:#000 !important;
	background-color:#e7e7e7 !important;
	border:1px solid #000;
}

/** Anasayfa Oyunlar Finish**/


.footerBG{
	margin-top:8em;
	background-color:#303030;
}

.footerLogo{
	margin-top:0.1em;
}

.footerLogoBorder{
	border-bottom:1px solid #FFF;
	padding-bottom:-3em;
	margin-bottom:1em;
}

.buttonBG{
	background-color:#edba07;
	margin-top:0.5em;
	color:#000;
}

.badgeBG{
	font-size:16px;
	color:#000 !important;
}

.badge2{
	background-color:#edba07 !important;
	color:#000 !important;
}
.footerParagraph{
	color:#FFF !important;
	font-size:18px;
	font-family:'PT Sans Narrow', Helvetica, Arial, Sans Serif;
}

.footerParagraph a{
	color:#FFF !important;
	text-decoration:none;
}

.footerParagraph a:hover{
	color:#F00 !important;
}

.footerBottom{
	padding-top:1em;
	background-color:#000;	
}

.footerBottomFont{
	padding-top:1.3em;
	font-family:'Oswald', Helvetica, Arial, Sans Serif;
	font-size:13px;
	color:#FFF;
	
}

.footerBottomLink{
	font-family:'Oswald', Helvetica, Arial, Sans Serif;
	font-size:14px;
	background-color:#000 !important;
}

.h2Style{
	color:#FFF;
	font-size:22px;
	font-family:'Oswald', Helvetica, Arial, Sans Serif;
	border-bottom:1px #edba07 solid;
	padding-bottom:10px;
}



/** xs **/
@media(max-width:767px){
	.margin-top-xs-2{
		margin-top:2em;
	}
}
/** sm **/
@media(min-width:768px)  and (max-width:991px){
   
}
/** md **/
@media(min-width:992px){
    
}
/** lg **/
@media(min-width:1170px){
    
}


/** xs **/
@media (max-width:767px) and (max-width:768px){
	.margin-left-xs-1{margin-left:-3.8em; padding:0px; float:left !important; margin-top:1em;}
	.margin-left-xs-10{margin-left:-1.8em;}
	.sepet-small{margin-top:-5em; margin-bottom:3em;}
	.logo-small{margin-top:-1.2em;}
	
}
/** sm **/
@media (min-width:768px) and (max-width:991px){
	.hesabim-sm-10{margin-top:-1.8em; margin-left:-2em;}
	.para{margin-left:-3em;}
	.shopping{margin-top:-8em; margin-bottom:2em;}
	.textArea{margin-left:-1.9em; margin-top:-1em;}
}
/** md **/
@media (min-width:992px){
	
}
/** lg **/
@media (min-width:1170px){
	
}

